<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>${input.title} - Status Krislawton</title>
	<script src="/c/jquery-3.2.1.min.js"></script>
	<script src="/c/common.js"></script>
	<link rel="stylesheet" href="/c/common.css" />
	<include(input.head)/>
</head>
<body>
	<div id="page-header">
		<a href="https://www.n.krislawton.com/">
			<img src="https://www.n.krislawton.com/c/LogoWhite.png" />
			<span id="header-text">krislawton.com</span>
		</a>
	</div>
	<div id="page-non-header">
		<div id="page-body">
			<include(input.body) />
		</div>
		<canvas id="bg-animation"></canvas>
	</div>
	<div id="page-footer">Powered by me</div>
</body>
</html>